.imgbutton{
    background-color : red;
    color: cyan;
    font-family: "ComicSans";
}
.googleimg{
    width: 100px;
    height: 100px;
}
@font-face {
    font-family: ComicSans;
    src: url(fonts/ComicSans.ttf);
  }